# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml

# Android Studio
captures/

# Native builds
.externalNativeBuild/
.cxx/

# Logs
*.log

# OS files
.DS_Store

# Keystore files
*.jks
*.keystore
